[run]
source = app
omit = 
    */tests/*
    */__init__.py
    */migrations/*
    app/core/config.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[html]
directory = coverage_html 